.btn {
    border: none;
    border-radius: 20px;
    font-family: var(--font-family), Serif;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    transition: .25s;
}

.btn-primary {
    color: var(--text-color-dark);
    background-color: var(--btn-primary-color-light);
}

.btn-primary:hover {
    color: var(--text-color-light);
    box-shadow: inset 0 -2em 0 0 var(--btn-primary-color-dark);
}

.btn-danger {
    color: var(--text-color-dark);
    background-color: var(--btn-danger-color-light);
}

.btn-danger:hover {
    box-shadow: inset 0 -2em 0 0 var(--btn-danger-color-dark);
    color: var(--text-color-light);
}
