.comment-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-form {
    border: 2px solid var(--bg-color-light);
    border-radius: 25px;
    padding: 1.2rem;
    width: 100%;
}

.comment-form form {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.comment-form textarea {
    resize: none;
    border: none;
    border-bottom: solid var(--bg-color-light) 2px;
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    outline: none;
    transition: .3s;
    width: 100%;
}

.comment-form textarea:focus {
    border-bottom: solid var(--accent-color) 2px;
}

.buttons {
    justify-self: flex-end;
    align-self: flex-end;
    padding-left: 13px;
}

@media screen and (max-width: 960px) {
    .comment-form textarea {
        resize: none;
        border: none;
        border-bottom: solid var(--bg-color-light) 2px;
        background-color: var(--bg-color-dark);
        color: var(--text-color-light);
        outline: none;
        transition: .3s;
        width: 100%;
    }

}
