.btn {
    height: 30px;
    width: 110px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.category-feed {
    width: 30%;
}

.feed {
    display: grid;
    grid-gap: 25px;
    width: 40%;
}

.navbar {
    width: 30%;
}

.post-container {
    display: grid;
    border: 2px solid var(--bg-color-light);
    border-radius: 25px;
    padding: 1.2rem;
    width: 100%;
    gap: 10px;
}

.image-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.vertical {
    max-width: 382.5px;
    max-height: 510px;
}

.horizontal {
    max-width: 512px;
    max-height: 512px;
}

.post-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-info {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
}

.post-top {
    display: flex;
    justify-content: space-around;
}

.delete-form {
    display: flex;
    align-items: center;
}
