#newPostForm form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 25px;
}

.post-title {
    border: none;
    border-bottom: solid var(--bg-color-light) 2px;
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    outline: none;
    transition: .3s;
    width: 40%;
}

.post-title:focus {
    border-bottom: solid var(--accent-color) 2px;
}

#uploadImage {
    position: absolute;
    z-index: -1;
    display: none;
}

#newPostForm textarea {
    resize: none;
    border: none;
    border-bottom: solid var(--bg-color-light) 2px;
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    outline: none;
    transition: .3s;
    width: 100%;
}

#newPostForm textarea:focus {
    border-bottom: solid var(--accent-color) 2px;
}

#close-post-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 15%;
    background-color: var(--bg-color-light);
    z-index: 1;
    cursor: pointer;
}
#categories{
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);
    border: none;
    border-bottom: solid 1px;
    cursor: pointer;
}
#custom_category{
    border: none;
    border-bottom: solid 1px;
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);
    outline: none;
}
