/*#newPostForm {*/
/*    font-family: inherit;*/
/*    color: white;*/
/*    display: none;*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    background-color: black;*/
/*    padding: 20px;*/
/*    z-index: 1;*/
/*    justify-items: center;*/
/*    justify-content: center;*/
/*    border-radius: 20px;*/
/*    border: solid #04AA6D 5px;*/
/*    grid-gap: 1vh;*/
/*}*/
/*form{*/
/*    display: inherit;*/
/*    grid-gap: inherit;*/
/*}*/
/*textarea{*/
/*    resize: none;*/
/*    border: none;*/
/*    border-bottom: solid white 2px;*/
/*    background-color: black;*/
/*    color: white;*/
/*    outline: none;*/
/*}*/
/*textarea:focus{*/
/*    border-bottom: solid #04AA6D 2px;*/
/*}*/
/*input[type=text]{*/
/*    background-color: black;*/
/*    border: none;*/
/*    border-bottom: solid white 1px;*/
/*    color: white;*/
/*    outline: none;*/
/*}*/
/*input[type=text]:focus{*/
/*    border-bottom: solid #04AA6D 1px;*/
/*}*/
/*input[type=file]{*/
/*    opacity: 0;*/
/*    z-index: -1;*/
/*    position: absolute;*/
/*    overflow: hidden;*/
/*    height: 0.1px;*/
/*    width: 0.1px;*/
/*}*/
/*.postButton{*/
/*    background-color: #04AA6D;*/
/*    border-radius: 50px;*/
/*    border: none;*/
/*    padding: 2px 2vh 2px 2vh;*/
/*    color: black;*/
/*    outline: none;*/
/*}*/
/*.postButton:hover{*/
/*    background-color: #048a5a;*/
/*}*/
/*.postButton:focus{*/
/*    background-color: #048a5a;*/
/*}*/

.category-feed {
    width: 30%;
}

.feed {
    display: grid;
    grid-gap: 25px;
    width: 40%;
}

.navbar {
    width: 30%;
}

.post-container {
    display: grid;
    border: 2px solid var(--bg-color-light);
    border-radius: 25px;
    padding: 1.2rem;
    width: 100%;
    gap: 10px;
}

.image-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.vertical {
    max-width: 382.5px;
    max-height: 510px;
}

.horizontal {
    max-width: 512px;
    max-height: 512px;
}

.pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-info {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
}
