form {
    display: grid;
    grid-gap: 2vh;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    padding: 5vh 3vh 5vh 3vh;
}
#submitButton{
    margin-top: 2vh;
}
@keyframes animation_inputText {
    0%{border-bottom-color: white}
    50%{border-bottom-color: #04AA6D}
    0%{border-bottom-color: white}
}
.inputText{
    background-color: black;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid;
}
.inputText:focus{
    animation-name: animation_inputText;
    animation-duration: 0.8s;
}
@keyframes animation_submitButton_out {
    from {border-radius: 20px}
    to {border-radius: 5px}
}
@keyframes animation_submitButton_in {
    from {border-radius: 5px}
    to {border-radius: 20px}
}
input[type=submit]{
    background-color: #04AA6D;
    border: none;
    border-radius: 20px;
    padding: 1vh 3vh 1vh 3vh;
    animation-name: animation_submitButton_in;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}
input[type=submit]:hover{
    animation-name: animation_submitButton_out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.inputSelect{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    appearance: none;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
