@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');

@media screen and (max-width: 650px){
    form {
        display: grid;
        grid-gap: 2vh;
        padding: 5vh;
    }
    .logo {
        pointer-events: none;
        user-select: none;
        width: 10%;
        justify-self: center;
    }
}
@media screen and (min-width: 651px){
    form {
        display: grid;
        grid-gap: 2vh;
        border-style: solid;
        border-radius: 10px;
        border-color: white;
        padding: 5vh 3vh 5vh 3vh;
    }
    .logo {
        pointer-events: none;
        user-select: none;
        width: 5%;
    }
}
#submitButton{
    margin-top: 2vh;
}

.inputText{
    background-color: black;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid;
}
input[type=submit]{
    background-color: #04AA6D;
    border: none;
    padding: 1vh 3vh 1vh 3vh;
    transition-duration: 0.35s;
}
input[type=submit]:hover,
input[type=submit]:focus {
    box-shadow: inset 73vh 0 0 0 var(--btn-primary-color-dark);
    cursor: pointer;
}
.inputSelect{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    appearance: none;
}

body {
    font-family: "Source Code Pro", serif;
    background-color: black;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    min-height: 80vh;
}

footer a{
    color: darkgray;
    text-decoration: underline;
}

form a:visited{
    color: #04AA6D;
}

form a{
    color: #04AA6D;
}

form a:hover{
    color: var(--btn-primary-color-dark)
}
