@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');
@import "shared/footer.css";

:root {
    --bg-color: #000000FF;
    --bg-color-light: #FFFFFFFF;
    --bg-color-dark: #000000FF;
    --text-color-light: #FFFFFFFF;
    --text-color-dark: #000000FF;
    --btn-primary-color-light: #04AA6D;
    --btn-primary-color-dark: #048a5a;
    --btn-danger-color-light: #ff4444;
    --btn-danger-color-dark: #882222;
    --accent-color: #B2E6D4;

    font-family: "Source Code Pro", serif;
    font-size: 100%;
    background-color: var(--bg-color);
    color: var(--text-color-light);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

* {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
