#navbar_self{
    padding-top: 1rem;
    display: grid;
    grid-gap: 0.5rem;
    justify-content: center;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

a div {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 2.5vh;
    transition: 0.3s;
}

a div:hover {
    background-color: #2c3f25;
}

a img {
    height: 4vh;
    width: 4vh;
    margin-right: 8px;
}

a span {
    font-weight: bold;
    margin-right: 8px;
    -ms-text-size-adjust: auto;
}
a button{
    background-color: #04AA6D;
    border: none;
    border-radius: 2.5vh;
    padding: 1vh;
    width: 80%;
    margin-left: 1rem;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}

a button:hover {
    background-color: #2c3f25;
    color: white;
}

#logo {
    pointer-events: none;
    user-select: none;
    justify-self: center;
}
