@import "navbar.css";
@import "shared/buttons.css";
@import "shared/post.css";
@import "shared/postForm.css";

body {
    display: flex;
}

#image-con {
    position: relative;
    background-color: wheat;
}

#image {
    width: 100%;
    height: auto;
}

#crop-box {
    position: absolute;
    border: 1px solid #ff0000;
    box-sizing: border-box;
    min-width: 50px;
    min-height: 50px;
}

.pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    transform: translateY(-75px);
}

.bg-pfp {
    max-width: 768px;
    height: 256px;
    background-color: rgb(30, 30, 30);
}

.btn-edit {
    width: 150px;
    height: 25px;
    background-color: var(--btn-primary-color-light);
    color: var(--text-color-dark);
    font-weight: bold;
    margin-right: 50px;
    margin-top: 20px;
}

.btn-edit:hover {
    background-color: var(--btn-primary-color-dark);
    color: var(--text-color-light);
    transition: .3s;
}

.profile-top {
    display: flex;
    height: 75px;
    justify-content: space-between;
}

.profile ul {
    display: grid;
    margin-left: 25px;
    margin-top: 15px;
    align-items: center;
}

.profile li {
    list-style: none;
}

.nickname {
    font-weight: bold;
    font-size: 1.5rem;
}

.username {
    font-size: 1rem;
}

.profile {
    margin-bottom: 25px;
}
