@import "navbar.css";
@import "shared/post.css";

body {
    display: flex;
}
.feed div {
    display: grid;
    grid-gap: 20px;
}
p{
    border: solid #04AA6D;
    border-radius: 10px;
    padding: 5px;
}

#image-con {
    position: relative;
    background-color: wheat;
}

#image {
    width: 100%;
    height: auto;
}

#crop-box {
    position: absolute;
    border: 1px solid #ff0000;
    box-sizing: border-box;
    min-width: 50px;
    min-height: 50px;
}

