body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    gap: 18rem;
}

.interface {
    display: grid;
    grid-gap: 2.5rem;
    text-align: left;
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 25rem;
}

button{
    padding: 20px;
    max-width: 20rem;
    color: var(--bg-color-light);
    transition: 0.25s;
    outline: none;
    border: none;
    &:hover,
    &:focus {
        color: #fff;
    }
}
.signup{
    background-color: var(--btn-primary-color-light);
}
.signup:hover,
.signup:focus{
    outline: none;
    box-shadow: inset 20rem 0 0 0 var(--btn-primary-color-dark);
    cursor: pointer;
}
.login{
    background-color: var(--bg-color-dark);
    border: solid;
}
.login:hover,
.login:focus{
    outline: none;
    box-shadow: inset 20rem 0 0 0 white;
    color: var(--text-color-dark);
    cursor: pointer;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.text {
    font-size: 0.8rem;
}
